body{
}

.top-cantainer{
    background-color: red;
    width:100px;
    height:100px;
    padding: 20px;
}
.middle-cantainer{
    background-color: green;
    width:100px;
    height:100px;
    padding: 20px;
    position: absolute;
    left:148px;
}
.bottom-cantainer{
    background-color: yellow;
    width:100px;
    height:100px;
    padding: 20px;
    position:absolute;
    left: 290px;
    top:285px;
}